<br/> <br/>
<center>
<% n = params['id'].to_i %>
<h1>Page du gossip N° <%= n %> </h1>
<br/> <br/>
<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
  <div class="card-header"><strong>Informations sur l'auteur </strong> </div>
  <div class="card-body">
    <p class="card-text"> <a href="/static/autor/<%=@gossips[n].user_id%>"> <strong></strong><%= @gossips[n].user.first_name%> <%= @gossips[n].user.name %><br /> </a>
      <strong>Age - </strong>  <%=@gossips[n].user.age %> ans<br />
      <strong>Mail - </strong>  <%= @gossips[n].user.email %><br />
      </p>
  </div>
</div>
<br/>

<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
  <div class="card-header"><strong>Voici ce que <strong><%= @gossips[n].user.name  %> </strong> a écrit comme potin :</strong> </div>
  <div class="card-body">
    <p class="card-text"> <p> <%= @gossips[n].gossip %></p>
    <p class="card-text"><small class="text-muted"><strong>date de création =</strong>  <%= @gossips[n].created_at %></p>
  </div>
</div>
</center>
